<ul class="nav-list">
    <li>
        <a href="/admin/user" class="dropdown-item">
            <i class="fas fa-list"></i> Users
        </a>
    </li>
    <li>
        <a href="/admin/group" class="dropdown-item">
            <i class="fas fa-user-shield"></i> User Groups
        </a>
    </li>
    <div class="dropdown-divider"></div>
    <li>
        <a href="/admin/groupAccess" class="dropdown-item">
            <i class="fa fa-universal-access" aria-hidden="true"></i> Group Accesses
        </a>
    </li>
    <div class="dropdown-divider"></div>
    <li>
        <a href="" class="dropdown-item">
            <i class="fas fa-cloud-download-alt"></i>Updates
        </a>
    </li>
    <div class="dropdown-divider"></div>

</ul>